In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [3]:
#1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
df_perf = pd.read_excel('AgentPerformance.xlsx',skiprows=1,engine="openpyxl")
df_perf['Week']=pd.to_datetime(df_perf.Date).dt.isocalendar().week
df_perf['Average Rating']=df_perf['Average Rating'].astype(float)
df_perf['Total Chats']=df_perf['Total Chats'].astype(int)
df_perf[(df_perf['Total Chats'] > 0) ][['Agent Name','Average Rating','Date','Week']].groupby \
   (['Agent Name','Week'])['Average Rating'].mean()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Agent Name              Week
Aditya Shinde           26      3.850000
                        27      4.516000
                        28      4.746000
Aditya_iot              27      4.315000
                        28      4.100000
                        29      4.360000
                        30      3.886000
Ameya Jain              27      4.000000
                        28      4.256000
                        29      4.464000
                        30      4.747500
Anirudh                 27      2.224000
                        28      4.115000
Ankitjha                27      5.000000
                        30      1.500000
Anurag Tiwari           27      2.750000
Aravind                 27      4.867500
                        28      4.598000
                        29      4.596000
Ashad Nasim             27      2.500000
Ayushi Mishra           26      4.330000
                        27      4.512000
                        28      4.084000
                        29      4.250000
                        30      4.614000
Bharath                 26      4.835000
                        27      4.552000
                        28      4.663333
                        29      4.756000
                        30      4.827500
Boktiar Ahmed Bappy     26      4.720000
                        27      4.610000
                        28      4.462500
                        29      3.792857
                        30      3.470000
Chaitra K Hiremath      29      5.000000
                        30      4.188000
Deepranjan Gupta        26      4.230000
                        27      4.220000
                        28      4.587500
                        29      2.750000
                        30      4.615000
Dibyanshu               27      0.000000
Harikrishnan Shaji      27      3.135000
                        28      4.530000
                        29      4.480000
                        30      4.320000
Hitesh Choudhary        28      0.000000
Hrisikesh Neogi         26      4.370000
                        27      4.668000
                        28      4.442000
                        29      4.608000
                        30      4.190000
Ishawant Kumar          27      4.710000
                        28      4.244286
                        29      4.215714
                        30      4.706667
Jawala Prakash          26      4.523333
                        27      4.192500
                        28      4.236000
                        29      4.135714
                        30      3.948333
Jayant Kumar            26      3.745000
                        27      4.052000
                        28      4.310000
Jaydeep Dixit           26      4.825000
                        27      4.578000
                        28      4.346000
                        29      4.640000
                        30      4.385000
Khushboo Priya          26      4.525000
                        27      3.810000
                        28      4.342857
                        29      4.576667
                        30      4.382500
Madhulika G             26      4.833333
                        27      4.415000
                        28      4.285000
                        29      4.146000
                        30      4.382500
Mahak                   27      3.000000
Mahesh Sarade           27      3.626667
                        28      3.905000
                        29      4.154000
                        30      4.232500
Maitry                  26      4.610000
                        27      4.257500
                        28      4.274000
                        29      4.365000
                        30      4.666667
Maneesh                 27      1.666667
Manjunatha A            26      4.563333
                        27      3.992857
                        28      4.430000
                        29      4.615000
                        30      4.182500
Mithun S                27      2.286667
                        28      4.346000
                        29      4.344000
                        30      4.092000
Mukesh                  30      4.645000
Mukesh Rao              27      2.556667
Muskan Garg             30      4.274000
Nandani Gupta           26      4.115000
                        27      4.438000
                        28      4.218000
                        29      4.208000
                        30      3.790000
Nishtha Jain            27      4.657143
                        28      4.294286
                        29      4.104000
                        30      3.822500
Prabir Kumar Satapathy  27      4.500000
                        28      4.424000
                        29      4.460000
                        30      4.296667
Prateek _iot            27      3.283333
                        28      4.750000
                        29      4.414000
                        30      4.446000
Prerna Singh            26      4.240000
                        27      4.340000
                        28      4.662000
                        29      4.448000
                        30      4.250000
Rishav Dash             26      4.435000
                        27      4.398000
                        28      3.338000
                        29      4.162000
                        30      4.312500
Saikumarreddy N         28      4.537500
                        29      4.516000
                        30      4.670000
Samprit                 27      0.000000
Sandipan Saha           28      4.290000
Sanjeev Kumar           26      4.096667
                        27      4.360000
                        28      4.434000
                        29      4.494000
                        30      4.552000
Saurabh Shukla          26      3.000000
                        27      4.335000
                        28      5.000000
Shiva Srivastava        29      4.750000
                        30      3.768000
Shivan K                26      3.000000
                        27      2.953333
                        28      4.364000
                        29      4.474000
                        30      4.332500
Shivan_S                27      4.250000
Shivananda Sonwane      26      4.753333
                        27      4.426667
                        28      4.398333
                        29      4.465714
                        30      4.751667
Shubham Sharma          26      4.780000
                        27      4.508000
                        28      4.808000
                        29      4.644000
                        30      4.350000
Sowmiya Sivakumar       29      4.235000
                        30      4.172000
Sudhanshu Kumar         27      5.000000
                        28      5.000000
Suraj S Bilgi           30      4.680000
Swati                   26      4.485000
                        27      4.484000
                        28      4.144000
                        29      4.156667
                        30      4.065000
Tarun                   26      1.500000
Vivek                   27      4.200000
                        28      2.206667
Wasim                   27      4.460000
                        28      4.394000
                        29      4.816000
                        30      4.298000
Zeeshan                 27      4.575000
                        28      4.128000
                        29      4.452000
                        30      4.140000
Name: Average Rating, dtype: float64

In [4]:
#2.Total working days for each agents
df_perf = pd.read_excel('AgentPerformance.xlsx',skiprows=1,engine="openpyxl")
df_perf['Total Chats']=df_perf['Total Chats'].astype(int)
df_perf[(df_perf['Total Chats'] > 0)][['Agent Name']].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Agent Name
Shivananda Sonwane        28
Khushboo Priya            26
Boktiar Ahmed Bappy       26
Manjunatha A              25
Jawala Prakash            25
Ayushi Mishra             24
Madhulika G               24
Ishawant Kumar            24
Sanjeev Kumar             23
Nishtha Jain              23
Shivan K                  22
Prerna Singh              22
Shubham Sharma            21
Jaydeep Dixit             21
Rishav Dash               21
Deepranjan Gupta          21
Nandani Gupta             21
Hrisikesh Neogi           21
Maitry                    20
Harikrishnan Shaji        19
Bharath                   19
Mahesh Sarade             18
Mithun S                  18
Prabir Kumar Satapathy    17
Prateek _iot              17
Aditya_iot                17
Swati                     17
Wasim                     16
Zeeshan                   16
Ameya Jain                15
Aravind                   14
Saikumarreddy N           13
Aditya Shinde             12
Sowmiya Sivakumar          9
Jayant Kumar               8
Shiva Srivastava           7
Anirudh                    7
Chaitra K Hiremath         6
Muskan Garg                5
Vivek                      5
Saurabh Shukla             4
Mukesh Rao                 3
Sandipan Saha              3
Ankitjha                   3
Maneesh                    3
Ashad Nasim                2
Anurag Tiwari              2
Sudhanshu Kumar            2
Suraj S Bilgi              2
Mukesh                     2
Samprit                    1
Shivan_S                   1
Dibyanshu                  1
Hitesh Choudhary           1
Tarun                      1
Mahak                      1
dtype: int64

In [114]:
#3. Total query that you hvae taken
df_perf = pd.read_excel('/Users/nikhilgopalakrishnan/Downloads/AgentPerformance.xlsx',skiprows=1,engine="openpyxl")
df_perf['Total Chats']=df_perf['Total Chats'].astype(int)
df_perf[(df_perf['Total Chats'] > 0)].groupby('Agent Name')['Total Chats'].agg(sum)

/Users/nikhilgopalakrishnan/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Agent Name
Aditya Shinde             277
Aditya_iot                231
Ameya Jain                322
Anirudh                    81
Ankitjha                    5
Anurag Tiwari               4
Aravind                   366
Ashad Nasim                18
Ayushi Mishra             514
Bharath                   369
Boktiar Ahmed Bappy       452
Chaitra K Hiremath         64
Deepranjan Gupta          493
Dibyanshu                   1
Harikrishnan Shaji        381
Hitesh Choudhary            1
Hrisikesh Neogi           578
Ishawant Kumar            338
Jawala Prakash            439
Jayant Kumar              127
Jaydeep Dixit             512
Khushboo Priya            446
Madhulika G               469
Mahak                       7
Mahesh Sarade             364
Maitry                    542
Maneesh                     4
Manjunatha A              413
Mithun S                  503
Mukesh                     19
Mukesh Rao                  5
Muskan Garg                56
Nandani Gupta             560
Nishtha Jain              373
Prabir Kumar Satapathy    299
Prateek _iot              190
Prerna Singh              401
Rishav Dash               409
Saikumarreddy N           364
Samprit                     1
Sandipan Saha              30
Sanjeev Kumar             507
Saurabh Shukla             16
Shiva Srivastava           53
Shivan K                  357
Shivan_S                    7
Shivananda Sonwane        441
Shubham Sharma            510
Sowmiya Sivakumar         206
Sudhanshu Kumar             2
Suraj S Bilgi              28
Swati                     524
Tarun                      22
Vivek                      44
Wasim                     433
Zeeshan                   542
Name: Total Chats, dtype: int64

In [116]:
#4. total Feedback that you have received
df_perf['Total Feedback']=df_perf['Total Feedback'].astype(int)
df_perf[(df_perf['Total Chats'] > 0)].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde             153
Aditya_iot                131
Ameya Jain                228
Anirudh                    39
Ankitjha                    3
Anurag Tiwari               3
Aravind                   233
Ashad Nasim                 9
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       311
Chaitra K Hiremath         37
Deepranjan Gupta          312
Dibyanshu                   0
Harikrishnan Shaji        231
Hitesh Choudhary            0
Hrisikesh Neogi           367
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
Mahak                       5
Mahesh Sarade             216
Maitry                    347
Maneesh                     3
Manjunatha A              254
Mithun S                  364
Mukesh                     17
Mukesh Rao                  5
Muskan Garg                37
Nandani Gupta             308
Nishtha Jain              257
Prabir Kumar Satapathy    222
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Saikumarreddy N           290
Samprit                     0
Sandipan Saha              18
Sanjeev Kumar             311
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Tarun                       6
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

In [123]:

#5. a agent name who have average rating between 3.5 to 4
df_perf[(df_perf['Average Rating'] >= 3.5) &  (df_perf['Average Rating'] < 4)]['Agent Name'].drop_duplicates()

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
82            Mahesh Sarade
83                 Zeeshan
91          Hrisikesh Neogi
157          Khushboo Priya
158                  Wasim
217          Jawala Prakash
232            Nishtha Jain
296            Prerna Singh
355     Boktiar Ahmed Bappy
365             Muskan Garg
375      Harikrishnan Shaji
434        Deepranjan Gupta
446                Shivan K
447             Madhulika G
448             Rishav Dash
506                 Maitry
595                Mithun S
649             Aditya_iot
859          Ishawant Kumar
1010          Ayushi Mishra
1011     Shivananda Sonwane
1171          Sandipan Saha
1296               Anirudh
1454           Jayant Kumar
1592          Anurag Tiwari
1669         Saurabh Shukla
2021          Aditya Shinde
Name: Agent Name, dtype: object

In [124]:
#6. Agent name who have rating lesss then 3.5
df_perf[(df_perf['Average Rating'] < 3.5) ]['Agent Name'].drop_duplicates()

1             Nandani Gupta
19         Hitesh Choudhary
20               Sanjeevan
21                 Anirudh
22         Shiva Srivastava
               ...
210             Madhulika G
215     Boktiar Ahmed Bappy
538        Deepranjan Gupta
644          Ishawant Kumar
1180     Shivananda Sonwane
Name: Agent Name, Length: 70, dtype: object

In [125]:
#7. agent name who have rating more then 4.5
df_perf[(df_perf['Average Rating'] > 4.5) ]['Agent Name'].drop_duplicates()

2                   Ameya Jain
3                Mahesh Sarade
5                      Mukesh
6              Saikumarreddy N
7                Sanjeev Kumar
13          Harikrishnan Shaji
16           Sowmiya Sivakumar
67         Boktiar Ahmed Bappy
68          Shivananda Sonwane
69              Ishawant Kumar
70            Deepranjan Gupta
75                 Muskan Garg
77                 Aditya_iot
85          Chaitra K Hiremath
86               Suraj S Bilgi
88                    Mithun S
93                      Wasim
95                    Bharath
141             Jawala Prakash
142              Ayushi Mishra
220              Prateek _iot
225              Nandani Gupta
233             Khushboo Priya
239               Manjunatha A
283                    Maitry
297              Jaydeep Dixit
307                Madhulika G
369               Prerna Singh
374                   Shivan K
432           Shiva Srivastava
437                     Swati
438             Shubham Sharma
441                   Aravind
442                   Zeeshan
451            Hrisikesh Neogi
594     Prabir Kumar Satapathy
878                Rishav Dash
1003           Sudhanshu Kumar
1023             Aditya Shinde
1074             Sandipan Saha
1079              Nishtha Jain
1370            Saurabh Shukla
1591                  Anirudh
1725              Jayant Kumar
1731               Mukesh Rao
1803                    Vivek
1814                 Ankitjha
Name: Agent Name, dtype: object

In [147]:
#8. how many feedback agents have received more then 4.5 average
df_perf[(df_perf['Average Rating'] > 4.5)].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

In [153]:
#9. average weekly response time for each agent
df_perf = pd.read_excel('/Users/nikhilgopalakrishnan/Downloads/AgentPerformance.xlsx',skiprows=1,engine="openpyxl")
df_perf['Week']=pd.to_datetime(df_perf.Date).dt.isocalendar().week

df_perf['Average Response Time'] = pd.to_datetime(df_perf['Average Response Time'], infer_datetime_format=True)
df_perf[(df_perf['Total Chats'] > 0)].groupby(['Agent Name','Week'])['Average Response Time'].mean()

Agent Name     Week
Aditya Shinde  26     2022-07-30 00:01:23.000000000
               27     2022-07-30 00:01:06.200000000
               28     2022-07-30 00:01:19.000000000
Aditya_iot     27     2022-07-30 00:01:10.500000000
               28     2022-07-30 00:01:12.800000000
                                   ...
Wasim          30     2022-07-30 00:01:00.600000000
Zeeshan        27     2022-07-30 00:01:22.500000000
               28     2022-07-30 00:02:52.800000000
               29     2022-07-30 00:01:28.000000000
               30     2022-07-30 00:01:35.750000128
Name: Average Response Time, Length: 182, dtype: datetime64[ns]

In [154]:
#10. average weekly resolution time for each agents
df_perf['Average Resolution Time'] = pd.to_datetime(df_perf['Average Resolution Time'], infer_datetime_format=True)
df_perf[(df_perf['Total Chats'] > 0)].groupby(['Agent Name','Week'])['Average Resolution Time'].mean()

Agent Name     Week
Aditya Shinde  26     2022-07-30 00:23:10.500000000
               27     2022-07-30 00:21:05.400000000
               28     2022-07-30 00:31:42.200000000
Aditya_iot     27     2022-07-30 00:18:04.500000000
               28     2022-07-30 00:21:15.400000000
                                   ...
Wasim          30     2022-07-30 00:21:05.800000000
Zeeshan        27     2022-07-30 00:18:50.500000000
               28     2022-07-30 00:22:58.000000000
               29     2022-07-30 00:18:32.000000000
               30     2022-07-30 00:19:20.249999872
Name: Average Resolution Time, Length: 182, dtype: datetime64[ns]

In [160]:
#11. list of all agents name
df_login = pd.read_excel('Agent_Login_Report.xls',skiprows=2)
df_login.Agent.drop_duplicates()

0          Shivananda Sonwane
1              Khushboo Priya
2               Nandani Gupta
3             Hrisikesh Neogi
4                     Mukesh
5           Sowmiya Sivakumar
6                Manjunatha A
7          Harikrishnan Shaji
8               Suraj S Bilgi
9                    Shivan K
10              Anurag Tiwari
11             Ishawant Kumar
13             Shubham Sharma
15               Prerna Singh
20               Nishtha Jain
21              Prateek _iot
27                   Mithun S
32                Madhulika G
33        Boktiar Ahmed Bappy
34             Jawala Prakash
35                 Dibyanshu
48           Deepranjan Gupta
50              Jaydeep Dixit
54              Ayushi Mishra
55              Mahesh Sarade
56                Muskan Garg
58         Chaitra K Hiremath
61           Shiva Srivastava
72                Aditya_iot
82     Prabir Kumar Satapathy
93              Sanjeev Kumar
96                   Zeeshan
128               Rishav Dash
130                    Wasim
131                  Bharath
201                Ameya Jain
202           Saikumarreddy N
209                  Aravind
216                   Amersh
316           Sudhanshu Kumar
331                 Ankitjha
400                   Maitry
402             Aditya Shinde
481               Hyder Abbas
514                    Swati
695            Saurabh Shukla
764                   Nitin M
986     Ineuron Intelligence
999                    Tarun
Name: Agent, dtype: object

In [167]:
#12. percentage of chat on which they have received a feedback
df_perf['Chat_perc'] = df_perf['Total Chats']/df_perf['Total Chats'].sum()
df_perf[(df_perf['Total Feedback'] > 0)][['Agent Name','Total Chats','Chat_perc','Total Feedback']]

              Agent Name  Total Chats  Chat_perc  Total Feedback
0           Prerna Singh           11   0.000747               9
1          Nandani Gupta           11   0.000747               7
2             Ameya Jain           14   0.000951              11
3          Mahesh Sarade           14   0.000951               7
4                 Swati            14   0.000951               6
...                  ...          ...        ...             ...
2101       Jaydeep Dixit           25   0.001698              13
2102  Shivananda Sonwane           23   0.001563              14
2103      Khushboo Priya           24   0.001630              18
2104     Hrisikesh Neogi           15   0.001019               9
2105              Tarun            22   0.001495               6

[731 rows x 4 columns]

In [185]:
#13. Total contributation hour for each and every agents weekly basis
df_login = pd.read_excel('Agent_Login_Report.xls',skiprows=2)
df_login['Week']=pd.to_datetime(df_login['Date']).dt.isocalendar().week
df_login['Duration'] =pd.to_timedelta(df_login['Duration'])
#df_login['Duration'] = pd.to_datetime(df_login['Duration'], infer_datetime_format=True)
df_login.groupby(['Agent','Week'])['Duration'].mean()
#df_login[df_login['Agent']=='Tarun']

Agent          Week
Aditya Shinde  30               0 days 00:02:10
Aditya_iot     29     0 days 02:01:54.333333333
               30        0 days 01:36:21.500000
Amersh         30        0 days 00:45:57.500000
Ameya Jain     29     0 days 03:26:25.571428571
                                 ...
Tarun          26              21 days 10:08:20
Wasim          29     0 days 02:10:50.222222222
               30     0 days 02:35:44.818181818
Zeeshan        29        0 days 04:04:16.500000
               30               0 days 06:09:55
Name: Duration, Length: 89, dtype: timedelta64[ns]

In [191]:
#14.total percentage of active hour for a month
df_login['Month']=pd.to_datetime(df_login['Date']).dt.month
df_login['Duration'] =pd.to_timedelta(df_login['Duration'])
#df_login['Duration'] = pd.to_datetime(df_login['Duration'], infer_datetime_format=True)
df_login.groupby(['Agent','Month'])['Duration'].mean()
#df_login

Agent                   Month
Aditya Shinde           7                 0 days 00:02:10
Aditya_iot              7       0 days 01:44:52.444444444
Amersh                  7          0 days 00:45:57.500000
Ameya Jain              7          0 days 04:12:27.200000
Ankitjha                7          0 days 00:34:00.250000
Anurag Tiwari           7       0 days 00:04:30.378378378
Aravind                 7          0 days 02:25:47.700000
Ayushi Mishra           7       0 days 02:07:04.333333333
Bharath                 7       0 days 05:20:30.666666666
Boktiar Ahmed Bappy     7       0 days 02:22:07.470588235
Chaitra K Hiremath      7       0 days 02:38:25.538461538
Deepranjan Gupta        7       0 days 01:49:56.396551724
Dibyanshu               7          0 days 00:15:10.312500
Harikrishnan Shaji      7       0 days 02:20:07.521739130
Hrisikesh Neogi         7       0 days 01:33:21.270270270
Hyder Abbas             7          0 days 00:11:38.500000
Ineuron Intelligence    7                 0 days 01:26:55
Ishawant Kumar          7       0 days 01:03:24.163265306
Jawala Prakash          7          0 days 02:54:00.500000
Jaydeep Dixit           7       0 days 05:26:24.181818181
Khushboo Priya          7       0 days 02:25:11.722222222
Madhulika G             7       0 days 02:42:33.941176470
Mahesh Sarade           7       0 days 01:11:32.194444444
Maitry                  7          0 days 06:11:20.400000
Manjunatha A            7          0 days 05:09:33.625000
Mithun S                7       0 days 03:13:36.071428571
Mukesh                  7                 0 days 02:58:06
Muskan Garg             7       0 days 01:26:40.666666666
Nandani Gupta           7       0 days 03:39:07.272727272
Nishtha Jain            7       0 days 02:26:10.555555555
Nitin M                 7                 0 days 00:47:56
Prabir Kumar Satapathy  7       0 days 01:17:01.461538461
Prateek _iot            7       0 days 01:05:00.294117647
Prerna Singh            7       0 days 02:32:23.111111111
Rishav Dash             7       0 days 03:28:52.666666666
Saikumarreddy N         7          0 days 04:18:49.500000
Sanjeev Kumar           7          0 days 02:14:03.700000
Saurabh Shukla          7          0 days 00:24:59.675000
Shiva Srivastava        7          0 days 00:59:58.600000
Shivan K                7       0 days 01:00:10.222222222
Shivananda Sonwane      7       0 days 03:17:09.066666666
Shubham Sharma          7       0 days 01:32:13.542857142
Sowmiya Sivakumar       7          0 days 01:51:53.125000
Sudhanshu Kumar         7       0 days 04:12:10.181818181
Suraj S Bilgi           7          0 days 02:30:42.600000
Swati                   7          0 days 05:00:00.800000
Tarun                   7                21 days 10:08:20
Wasim                   7          0 days 02:24:32.250000
Zeeshan                 7          0 days 04:54:31.900000
Name: Duration, dtype: timedelta64[ns]